.App {
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100vw;
  padding:10px;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}

.row {
  display: flex; 
  flex-direction: row;
  align-items: center;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  margin-top: 40vh;
  margin-left: 45vw;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.smallLoader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: spin 2s linear infinite;
  margin-left: 6px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
